@model HospitalInformationManagementSystem.Models.Schedule

@{
    ViewBag.Title = "ScheduleDetail";
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";
}
    <head>
        <title>Doctor | Schedule Details</title>
    </head>

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Schedule</li>

    </ol>
</div>

<h2>Schedule Detail</h2>
<hr />
<br />
<table class="table table-striped table-bordered" style="width:60%;margin-left:5%">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Properties</th>
            <th scope="col">Doctor's Schedule</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td> @Html.DisplayNameFor(model => model.AvailableStartDay)</td>
            <td> @Html.DisplayFor(model => model.AvailableStartDay)</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>@Html.DisplayNameFor(model => model.AvailableEndDay)</td>
            <td>@Html.DisplayFor(model => model.AvailableEndDay)</td>

        </tr>
        <tr>
            <th scope="row">3</th>
            <td>@Html.DisplayNameFor(model => model.AvailableStartTime)</td>
            <td>@Model.AvailableStartTime.ToShortTimeString()</td>

        </tr>
        <tr>
            <th scope="row">4</th>
            <td>  @Html.DisplayNameFor(model => model.AvailableEndTime)</td>
            <td>   @Model.AvailableEndTime.ToShortTimeString()</td>

        </tr>
        <tr>
            <th scope="row">5</th>

            <td> @Html.DisplayNameFor(model => model.TimePerPatient)</td>
            <td>  @Html.DisplayFor(model => model.TimePerPatient) </td>

        </tr>
        <tr>
            <th scope="row">6</th>
            <td>  @Html.DisplayNameFor(model => model.Status)</td>
            <td>  @Html.DisplayFor(model => model.Status)</td>

        </tr>
        <tr>
            <th scope="row">7</th>
            <td>Edit</td>
            <td> <a href="@Url.Action("EditSchedule", new {id = Model.Id})" class="fa fa-pencil-square-o" style="font-size: 19px"></a></td>

        </tr>


    </tbody>
</table>


